body {
  background-color: #2E2E2E;
  color: white;
}
h1 {
  color: blue;
}

#textBox {
  border-radius: 5px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 200px;
  height: 10px;
}
.container {
  height: 500px;
  position: relative;
  border: 3px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

td, th {
  border: 1px solid #424242;
  text-align: left;
  vertical-align: top;
  padding: 8px;
}

.carFeedTable
{
   overflow-y:scroll;
   height:90%;
   display:block;

    width: 90%;
    color: #F2F2F2;
    font-weight: 100;
}

p.bold {
color: #F2F2F2;
font-weight: bold;
}

.bt1{
 background-color: #848484;
  border: none;
  color: white;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.tb {
  font-family: arial, sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #848484;
  color: white;
}
input[type=text],[type=password],[type=number] {
  width: 100%;
  height: 45px;
  font-family: arial, sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #848484;
  color: white;
}
input[type=submit]:hover {
  background-color: #E6E6E6;
}

.disUser tr:nth-child(even){background-color: #6E6E6E;}
.disUser{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
